<%= form_with(model: [:panel, :admin, subject], local: true) do |form| %>
   <div>
      <%= form.label :description, style: "display: block", for: "exampleInputEmail1", class: "form-label mb-1" %>
      <%= form.text_field :description, class: "form-control bg-light-subtle mb-3",  id: "exampleInputEmail1" %>
   </div>

   <div class="d-flex flex-column align-items-center">
      <%= form.submit nil, class: "btn btn-card mb-2" %>
   </div>
<% end %>
