<div class="col-8 col-xl-5">
   <div class="card bg-primary-subtle py-3 px-4">
      <div class="card-header bg-primary-subtle d-flex justify-content-center pb-2">
         <h1 class="title-edit"><%= t('editing.title_subjects') %></h1>
      </div>
      <% if @subject.errors.any? %>
         <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
               <ul>
                  <% @subject.errors.full_messages.each do |message|%>
                     <li style="list-style: none;"> <%= message %> </li>
                  <% end %>
               </ul>
            </div>
         </div>
      <% end %>
      
      <div class="card-body p-2">
         <%= render "form", subject: @subject %>
         <%= link_to t('links.back'), panel_admin_subjects_path, class:"btn btn-card" %>
      </div>
   </div>
</div>
