<div class="col-8 col-xl-6">
   <div class="card bg-primary-subtle py-3 px-4">
      <div class="card-header bg-primary-subtle d-flex justify-content-center pb-2">
         <h1 class="card-title title-edit"><%= t('new.title_questions') %></h1>
      </div>
    
      <div class="card-body p-2">
         <%= render "form", question: @question %>
         <%= link_to t('links.back'), panel_admin_questions_path, class:"btn btn-card" %>
      </div>
   </div>
</div>
