<div class="col-9 col-xl-6">
   <div class="card bg-primary-subtle py-3 px-4">
      <div class="card-header bg-primary-subtle text-center p-1">
         <h1 class="title-edit"><%= t(title_key) %></h1>
      </div>

      <% if resource.errors.any? %>
         <div class="alert alert-danger alert-dismissible" role="alert">
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         <div class="alert-message">
            <ul>
               <% resource.errors.full_messages.each do |message| %>
                <li style="list-style: none;"><%= message %></li>
               <% end %>
            </ul>
         </div>
         </div>
      <% end %>

      <div class="card-body p-2">
         <%= render partial: form_partial, locals: { resource_name => resource } %>
         <%= link_to t('links.back'), back_path, class: "btn btn-card" %>
      </div>
   </div>
</div>