<div class="col-7">
   <div class="card bg-primary-subtle py-3 px-4">
      <div class="card-body p-2">
         <%= render partial: form_partial, locals: { resource_name => resource } %>
      </div>
   </div>
</div>