tbody, td, tfoot, th, thead, tr {
    border-color: rgb(109, 109, 110) !important;
}

th {
    font-size: 16px;
}

.btn-info {
    width: 15vh;
    background-color: rgb(89, 96, 166);
}

/*FORMULARIO*/
.title-edit {
    font-size: 25px;
    color: rgb(75, 75, 77);
    font-weight: 600;
}

.form-label {
    color: rgb(75, 75, 77);
    font-size: 16px;
    font-weight: 600;
}

.form-control {
    border: none;
    height: 40px;
    font-size: 16px;
}

.form-type {
    font-weight: 500;
}

.btn-card {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(245, 245, 250);
    background-color: rgb(89, 96, 166);
    text-align: center;
    text-decoration: none;
}

.btn-card:hover {
    background-color: rgb(165, 175, 212);
    color: rgb(9, 9, 9);
    text-decoration: none;
}

.form-check-label {
    margin-top: 2px;
    font-size: 15px;
}

.line-div-answers {
    margin: .6rem 0;
    border: solid 1px rgb(89, 96, 166);
}


/*pagination*/
.page-link {
    background-color: rgb(216, 229, 248);
    border: none;
    color: rgb(73, 80, 87);
    text-decoration: none; /* Remove sublinhado */
    transition: background-color 0.3s ease; /* Suaviza a transição */
}

.page-link:hover, 
.page-link:focus {
    background-color: rgb(180, 200, 230); /* Tom mais escuro ao passar o mouse */
    text-decoration: none;
}

/* Estado ao clicar na página */
.page-link:active {
    background-color: rgb(150, 180, 220) !important; /* Tom mais escuro ao clicar */
    color: white !important;
    text-decoration: none !important;
}

/* Página ativa */
.page-item.active .page-link {
    background-color: rgb(140, 160, 200) !important; /* Background ainda mais escuro para a página ativa */
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px; /* Suaviza os cantos */
}