.card-title {
    color: rgb(0, 0, 0);
    font-size: 1.3rem
}

.card-title-chart {
    font-size: 18px;
}

.text-card-home {
    font-size: 16px;
    color: #393636;
}

.text-card-home-number {
    font-size: 16px;
    color: #393636;
    font-weight: 600 !important;
}