body, html {
   height: 100vh;
   overflow: auto;
   overflow-x: hidden;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 0;
}

/* Personalização da barra de rolagem */
body::-webkit-scrollbar, html::-webkit-scrollbar {
   width: 12px;
}

body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
   background: rgb(147, 155, 187);
}

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
   background: linear-gradient(180deg, rgb(70, 76, 140) 0%, rgb(89, 96, 166) 50%, rgb(108, 115, 190) 100%);
   border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
   background: rgb(107, 126, 153);
}

.content, .navbar-light {
   background-color: rgb(165, 175, 212);
}

/*MENU LATERAL*/
.sidebar-content, footer, .sidebar-item, a.sidebar-link {
   background-color: rgb(89, 96, 166);
   color: rgb(255, 255, 255);
}

.fa-light {
   font-size: 17px;
}

.sidebar-item.active>.sidebar-link {
   background: none !important;
   border-left-color: transparent !important;
}

.title-menu {
   color: rgb(251, 251, 251);
   padding: 24px 24px 6px;
}

.align-middle {
   color: rgb(251, 251, 251) !important;
}

.sidebar-link:hover, .sidebar-link:hover .align-middle, .sidebar-link:hover svg {
   background: none !important;
   color: rgb(5, 5, 5) !important;
   stroke: rgb(5, 5, 5) !important;
   /* Cor do ícone SVG */
}

/*NAVEGADOR*/
.navbar {
   box-shadow: none !important;
}

.user-nav, .nav-link {
   color: rgb(7, 7, 7);
}

.hamburger {
   background-color: rgb(89, 96, 166);
}

.hamburger::before {
   background-color: rgb(89, 96, 166);
   width: 28px;
}

.hamburger::after {
   background-color: rgb(89, 96, 166);
   height: 3.5px;
}

/*Dropmenu*/
.dropdown-menu, .dropdown-item {
   background-color: rgb(89, 96, 166);
   color: rgb(5, 5, 5);
}

/*flash*/

.flash_error {
   position: fixed;
   top: 55px;
   right: 40px;
   z-index: 1050;
}

.flash_error .alert {
   min-width: 350px;
   max-width: 380px;
   height: auto !important;
   padding: 16px 40px 16px 16px !important;
   position: relative;
   font-size: 15px !important;
   word-break: break-word;
   white-space: normal;
}

.alert-text {
   display: block;
}

.alert-danger {
   background: #a10b1aeb !important;
}

.btn-close {
   position: absolute;
   top: 10px;
   right: 10px;
}