.tom-select.custom-select-style {
    padding: 0.65rem 1rem;     
    font-size: 16px;           
    line-height: 1.5;          
    border-radius: 6px;       
    border: 1px solid #ccc;    
    min-height: 44px;
}        

.tom-select.custom-select-style.ts-control {
    border: none;            
    box-shadow: none;     
    background: white; 
}

.tom-select.custom-select-style.ts-dropdown {
    border-radius: 0 0 6px 6px; 
    border: 1px solid #ccc;   
}

.tom-select.custom-select-style.ts-wrapper.single.input-active .ts-control {
  background: white; 
}