<!-- TOTAL DE ASSUNTOS CADASTRADOS E QUESTOES-->
<div class="col-md-12">
  <div class="card" style="align-items: center;">
    <div class="card-header pb-0">
      <h2 class="card-title card-title-chart" style="font-size: 22px;"><%= t("statistics.chart.mostAnswered")%></h2>
    </div>
    <div class="card-body pt-1">
      <canvas id="MostAnsweredTopics" width="780" height="290"></canvas>
    </div>
  </div>
</div>

<% cards = [
  {title: t("statistics.admin.total_subjects"), value: @total_subjects, icon: "fa-folders"},
  {title: t("statistics.admin.total_questions"), value: @total_questions_count, icon: "fa-messages-question"},
  {title: t("statistics.admin.total_answers"), value: @total_answers, icon: "fa-comments-question-check"}
] %>

<div class="d-flex flex-row justify-content-center gap-2">
  <% cards.each do |card| %>
    <div class="col">
      <div class="card text-center">
        <div class="card-body d-flex justify-content-evenly align-items-center pb-2">
          <h3 class="card-title"><%= card[:title] %></h3>
          <div class="stat text-primary">
            <i class="fa-light <%= card[:icon] %>"></i>
          </div>
        </div>
        <h1 class="text-center" style="font-size: 30px"><%= card[:value]  %></h1>
      </div>
    </div>
  <% end %>
</div>