.card-title {
    font-size: 20px;
    color: rgb(75, 75, 77);
}

tbody, td, tfoot, th, thead, tr {
    border-color: rgb(109, 109, 110) !important;
}

/*parte da edição do admin*/
.title-admin {
    font-size: 28px !important;
    color: rgb(75, 75, 77);
}

.form-label {
    color: rgb(75, 75, 77);
    font-size: 16px;
    font-weight: 600;
}

.form-control {
    border: none;
    height: 40px;
    font-size: 16px;
}

.btn-edit {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(75, 75, 77);
    border: solid 1px rgb(89, 96, 166);
}

.btn-edit:hover {
    background-color: rgb(89, 96, 166);
    color: rgb(231, 231, 236);
}

/*Alert*/

.alert-danger {
    background: #c41224b9;
    color: black;
    height: 40px;
    padding: 10px;
}

.alert-dismissible .btn-close {
    position: absolute;
    right: 35px;
}