<div class="col-md-4">
  <div class="row g-4">
    <%= render "panel/home/shared_user/stat_card" %> 
  </div>
</div>

<div class="col-md-4">
  <%= render "panel/home/shared_user/progress_card" %>
</div>

<!--grafico de pizza-->
<div class="col-md-4">
  <%= render "panel/home/shared_user/questions_card" %>
</div>
