<!-- Coluna da esquerda -->
<div class="col-md-8">
  <div class="row g-4">
    <%= render "panel/home/shared/stat_card" %> 
  </div>
</div>

<!--grafico de pizza-->
<div class="col-md-4">
  <%= render "panel/home/shared/chart_card" %>
</div>
