<!-- Gráfico 2 Respostas Realizadas vs. Total-->
<div class="col-md-12">
  <div class="card" style="align-items: center;">
    <div class="card-header">
      <h3 class="card-title mb-0"><%= t("statistics.chart.completed_responses")%></h5>
    </div>
    <div class="card-body">
      <canvas id="progressChart" width="200" height="200"></canvas>
    </div>
  </div>
</div>