<!-- Gráfico 1 Desempenho nas Respostas-->
<div class="col-md-12">
  <div class="card" style="align-items: center;">
    <div class="card-header">
      <h3 class="card-title mb-0"><%= t("statistics.chart.performance_responses")%></h3>
    </div>
    <div class="card-body">
      <canvas id="questionsChart" width="200" height="200"></canvas>
    </div>
  </div>
</div>

