<div class="row w-100 align-items-center px-5 home-wrapper">
   <div class="col-md-7">
      <div class="text-home">
         <h1 class="title-edit">
            <%= t('site.title_home') %>
         </h1>

         <p class="subtitle"><%= t('site.text_home') %></p>
         <p class="subtitle"><%= t('site.text_home2') %></p>

         <%= link_to t('site.btn_home'), user_session_path, class: "btn btn-home mt-4" %>
      </div>
   </div>
</div>
