.navbar-light {
    background-color: #19222C;
}

.hamburger {
    background-color: #bdc0c5;
}

.hamburger::before {
    background-color: #bdc0c5;
}

.hamburger::after {
    background-color: #bdc0c5;
}

