<%= stylesheet_link_tag "panel/home", media: "all", "data-turbo-track": "reload" %>

<div class="row w-100 justify-content-center">
  <% if current_user.user_type == 0 %>
    <%= render "panel/home/shared_user/index_user" %> 
  <% else %>
    <%= render "panel/home/shared_admin/index_admin" %> 
  <% end %>
</div>
