<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta" %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "site/site", media: "all", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
