<%= render "layouts/meta" %>
<%= stylesheet_link_tag "panel/panel", media: "all", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "site/login", media: "all", "data-turbo-track": "reload" %>
  
<body>
  <%= render "users/shared/form" %>
</body>
